header {

  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

body {
  margin-left: -10px;
  margin: 0 auto;


}

a {
  text-decoration: none;
}

a:hover {
  font-weight: bolder;
}
#news {
    grid-area: news;
}

#music {
    grid-area: music;
}

#video {
    grid-area: video;
}

#merch {
    grid-area: merch;
}
#about {
    grid-area: about;
}

#press {
    grid-area: press;
}

#contact {
    grid-area: contact;
}

#navsocial {
    grid-area: navsocial;
}
.newsentry {
  grid-area: newsentry;
}

.sidebar {
  grid-area: sidebar;
}

#entry0 {
    grid-area: entry0;
}
#entry1 {
    grid-area: entry1;
}
#entry2  {
    grid-area: entry2;
}
#entry3  {
    grid-area: entry3 ;
}

nav {
    background-color:black;
    padding-bottom: 10px;
    display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-areas:
      "news music"
      "video merch"
      "about press"
      "contact navsocial";

    font-family: 'Abril Fatface', cursive;
   color: rgba(244 153 193);
  }

  Nav >* {
border-left: 1px solid rgba(244 153 193);
border-right: 1px solid rgba(244 153 193);
  }

nav a {
  padding-left: 10px;
    padding-right: 10px;
  font-size: 20px;
  text-decoration: none;
     color: rgba(244 153 193);
     text-align: center;
}

.social {
  display: none;

}

.navsocial {
    display: flex;
    justify-content: center;

}

.body1 {
    background-image: url(../img/jamesmosh2.jpg);
    background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
       margin: 0 auto;
}


.body2 {
    background-image: url(../img/jamesmosh1.jpg);
    background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
       margin: 0 auto;
         min-height: 2000px;
}

.body3 {
    background-image: url(../img/jamesmosh3.jpg);
    background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
       margin: 0 auto;
}
.body4 {
    background-image: url(../img/mario1.jpg);
    background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
       margin: 0 auto;

}

header img {
    max-width: 100%;
    margin: auto;
    text-align: center;
    position: center center;
    repeat:  no-repeat;
    attachment: fixed;
    size:  cover;
    /* border-left: 50px; */
}

.newsentry {

  background-color: rgba(244 153 193);
  border-bottom: 1px solid black;
}

.newsentry >* {

    padding: 20px;
}

.contentbody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.headline {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
    font-family: 'Abril Fatface', cursive;

}

#entry0 {
  border: none;
}

#entry0 .headline{
  font-size: 60px;
}

.img {
  padding: 5px;
  border: 1px solid black;

}

.sidebar {

  background-color: rgba(244 153 193);
  border-bottom: 1px solid black;
  margin-left:

}

.entries {
font-family: 'Source Sans Pro', sans-serif;
  display: grid;
   grid-template-columns: 1fr;
   grid-template-areas:
    "sidebar"
    "entry0"
    "entry1"
    "entry2"
    "entry3";
    margin: 0 auto;
    width: 90%;

}

.video {
  font-family: 'Abril Fatface', cursive;
  font-size: 18pt;
  text-align: center;
  max-height: 600px;
  margin: 0 auto;
  width: 70%;
  margin-bottom: 150px;
}

.video-cont {
  margin-bottom: 120px;
  text-align: center;
  padding: 20px;
}
.resp-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;

}

/* desc{
  font-family: 'Source Sans Pro', sans-serif;
    font-size: 16pt;
} */


.sidebar {

  text-align: center;
    padding: 10px;


}

.sidebar p{

font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

.sidetitle {
  font-family: 'Abril Fatface', cursive;
  font-size: 20pt;
}

footer {
  background-color: rgba(244 153 193);
       margin: 0 auto;
       margin-top: 10px;
       text-align: center;
       padding-top: 10px;
        padding-bottom: 10px;
       width: 100%;

}


.show {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.show >* {
  padding: 5px;

}

/* TABLET MODE */
@media screen and (min-width: 600px) and (max-width: 991px) {

nav {

      display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
       grid-template-areas:
        "news music video merch"
        "about press contact navsocial";

    }

    nav a {
        font-size: 30px;
    }

    .navsocial {
      display: flex;
      justify-content: center;
    }

    .contentbody {
      display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between !important;
    }

    .img {
      float: right;
    }

}


/*  DESKTOP MODE */
@media screen and (min-width: 992px) {
  nav {
      /* background-color: red; */
        display: grid;
         grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
         grid-template-areas:
          "news music video merch about press contact navsocial";
      }

  nav a {
      font-size: 40px;
  }

  .navsocial {
    display: flex;
    justify-content: center;
  }

  .entries {
     grid-template-columns: 2.5fr 1.5fr;
     grid-template-areas:
      "entry0 sidebar"
      "entry1 sidebar"
      "entry2 sidebar"
      "entry3 sidebar"
  }


  .contentbody {
    display: flex;
  flex-direction: row;
  align-items: flex-end;
  /* justify-content: space-between !important; */
  }

  .sidebar {
      margin-left: 15px;
  }
}
